.stepTitle {
  width: 96px;
  height: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}

label, input, select{
  display: block;
}

input[type="text"],
input[type="email"], 
select {
  border: 1px solid #5E5E5E;
  height: 40px;
  border-radius: 4px;
  padding: 0 0 0 16px;
  font-size: 1rem;
}

select {
  margin-top: 0.5rem;
  width: 160px;
  background-color: transparent;
  /* erase default style */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.labelSelect{
  position: relative;
}

.labelSelect::after {
  content: "";
  position: absolute;
  right: 17px;
  bottom: 18px;
  z-index: -1;
  /* triangle */
  border-style: solid;
  border-width: 5px 4.5px 0 4.5px;
  border-color: #000000 transparent transparent transparent;
}

.detailRow {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.textInput {
  width: 350px;
  margin-top: 0.5rem;
}

.emailInput {
  width: 250px;
  margin-top: 0.5rem;
}

