

.stepProgressContainer {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.stepSign {
  background-color: black;
  color: white;
  width:24px;
  height:24px;
  position:absolute;
  left: 0;
  border-radius: 50%;
  text-align: center;
}

.steps {
  position:relative;
  padding-left: 32px;
  opacity: 0.5;
}

.steps:focus {
  opacity: 1;
}

.steps::after{
  position:absolute;
  top: 50%;
  right: -90%;
  content: "";
  width: 70%;
  height: 1px;
  background-color: black;
}

.progress {
  line-height: 24px;
  font-weight: 400;
}